/vendor/
/app/config/*.php
!/app/config/*.example.php
/app/storage/cache/*
!/app/storage/cache/.gitkeep
/app/storage/logs/*
!/app/storage/logs/.gitkeep
/app/storage/backups/*
!/app/storage/backups/.gitkeep
/app/storage/update-staging/*
!/app/storage/update-staging/.gitkeep
/app/storage/temp/*
!/app/storage/temp/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/.env
/.env.*

